@tailwind base;
@tailwind components;
@tailwind utilities;

/*
|--------------------------------------------------------------------------
| Global style
|--------------------------------------------------------------------------
*/
html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", "sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
}

.mobileBody {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}

#app {
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-flex;
  height: 2px;
  background-color: #005da8;
  opacity: 0;
  transform: translateY(-5px);
  transition-property: transform, opacity;
  transition-duration: 0.275s;
  transition-timing-function: ease-out;
}

.nav-link:hover:before {
  opacity: 1;
  transform: translateY(0);
}
/*
|--------------------------------------------------------------------------
| Avatar guides style
|--------------------------------------------------------------------------
*/

.tabs-choose li {
  margin-bottom: -2px;
}

.tabs-choose li.active {
  /* background-color: #005da8 !important; */
  border-top: 4px solid #005da8;
  border-bottom: 1px solid #0ac3c4;
}

.avatar-guides {
  width: 330px;
  /* height: 600px; */
  margin: auto;
}

.neck-pain,
.shoulder-pain,
.arm-front-pain,
.stomach-pain,
.thigh-front-pain,
.knee-pain,
.leg-front-pain,
.back-upper-pain,
.back-lower-pain,
.arm-back-pain,
.hand-pain,
.thigh-back-pain,
.leg-back-pain,
.foot-pain {
  background-color: #e2211c;
  width: 26px;
  height: 26px;
}

.neck-pain {
  top: 66px;
  left: 144px;
}

.shoulder-pain {
  top: 86.5px;
  left: 205.5px;
}

.arm-front-pain {
  top: 173px;
  left: 78.5px;
}

.stomach-pain {
  top: 203.5px;
  left: 157.5px;
}

.knee-pain {
  top: 363px;
  left: 113.5px;
}

.thigh-front-pain {
  top: 365px;
  left: 294px;
}

.leg-front-pain {
  top: 499px;
  left: 285px;
}

.back-upper-pain {
  top: 108px;
  left: 860px;
}

.back-lower-pain {
  top: 224px;
  left: 866px;
}

.back-lower-pain {
  top: 224px;
  left: 866px;
}

.arm-back-pain {
  top: 193px;
  left: 763px;
}

.hand-pain {
  top: 251px;
  left: 992px;
}

.thigh-back-pain {
  top: 355px;
  left: 831px;
}

.leg-back-pain {
  top: 488px;
  left: 902px;
}

.foot-pain {
  top: 560px;
  left: 826px;
}

.note-pain {
  top: 0;
  left: 282px;
  width: 260px;
}

#vedioSlider .splide__pagination {
  display: none;
}

.play-icon {
  top: calc(50% - 32px);
  left: calc(50% - 32px);
}
